<footer id="footer" class="section nopadding-bottom">
    <div class="container">
        <div class="row">
            <!--Footer About Description -->
            <div class="col-md-3 col-sm-6">
                <h4>Over ShopBlender</h4>
                <p>Dit product is bedoelt voor iedereen die een eigen webwinkel wil beginnen of een bestaande wilt verbeteren.</p>
                <hr/>
                <h4>Quick Links</h4>
                <ul class="quick-links">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <!-- End Footer About Description -->

            <!-- Start Contact Details  -->
            <div class="col-md-4 col-sm-6">
                <div class="contact-info">
                    <h4>Waar kunt u ons vinden</h4>
                    <p>Naast bellen, chatten, mailen kunt u ons ook bezoeken.</p>
                    <ul class="contact-list">
                        <li><i class="fa fa-map-marker"></i>Zwolle, Nederland</li>
                        <li><i class="fa fa-phone"></i>068 180 3022</li>
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:contact@shopblender.nl">contact@shopblender.nl</a></li>
                    </ul>
                </div>
                <!-- End Contact Details  -->
                <hr/>

                <div class="social">
                    <h4>Volg ons</h4>
                    <!-- Start  Social Links -->
                    <ul class="social">
                        <li class="facebook"> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                        <li class="twitter"> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                        <li class="google-plus"> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                        <li class="linkedin"> <a href="#"> <i class="fa fa-linkedin"></i> </a> </li>
                        <li class="youtube"> <a href="#"> <i class="fa fa-youtube-play"></i> </a> </li>
                    </ul>
                    <!-- End Social Links  -->
                </div>
            </div>
            <div class="col-md-5 bottom-contact">
                <h4>Een vraag, reactie of opmerking?</h4>
                <p>Geef ons uw feedback en wij reageren binnen 3 uur.</p>
                <form id="contact-form" class="contact-form" method="post" action="contact-form.php">
                    <div class="form-group">
                        <input name="contact-name" id="contact-name" type="text" class="form-control" placeholder="Naam">
                    </div>
                    <div class="form-group">
                        <input name="contact-email" id="contact-email" type="text" class="form-control" placeholder="Uw e-mail">
                    </div>
                    <div class="form-group">
                        <input name="contact-phone" id="contact-phone" type="text" class="form-control" placeholder="Telefoonnummer">
                    </div>
                    <div class="form-group">
                        <textarea name="contact-message" id="contact-message" class="form-control" placeholder="Bericht"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-submit">Verstuur</button>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-process-contact"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row footer-bottom">
            <div class="col-lg-6 col-sm-6">
                <p>&copy; 2014 ShopBlender</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <p class="copyright">Bel ons 06 81 803 022</p>
            </div>
        </div>
    </div>
</footer>