<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-logo" href="#"><i class="icon-signout"></i>Shopblender- QQ</a>
        </div>
        <div class="navigation navbar-collapse collapse">
            <ul class="nav navbar-nav menu-right">
                <li class="active"><a href="#header">{{ 'home'|trans }}</a></li>
                <li><a href="#intro">{{ 'intro'|trans }}</a></li>
                <li><a href="#portfolio">{{ 'examples'|trans }}</a></li>
                <li><a href="#features">{{ 'features'|trans }}</a></li>
                <li><a href="#faq">{{ 'faq'|trans }}</a></li>
                <li><a href="#pricing">{{ 'price'|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>