{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/mangosite/css/base.css') }}" rel="stylesheet" media="screen">
    {#<link href="{{ asset('css/custom.css') }}" rel="stylesheet" media="screen">#}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Vollkorn:400,700|Italianno' rel='stylesheet' type='text/css'>
{% endblock %}
