{% extends 'MangoSiteBundle::layout.html.twig' %}

{% block title %}{{ 'homepage title'|trans }}{% endblock %}

{% block bodyattribute %} data-spy="scroll" data-target=".navigation"{% endblock %}

{% block content %}
    <div id="banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 header-text">
                        <h1>{{ 'your webshop within 5 minutes'|trans|raw }}</h1>
                        <p>{{ 'Many existing store systems offer no flexibility as we do. To convince you, we offer you free trial 30 days.'|trans }}</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>{{ '30 on trail for free'|trans }}</li>
                                    <li>{{ 'Fully customizable'|trans }}</li>
                                    <li>{{ 'Multishop functionality'|trans }}</li>
                                    <li>{{ 'Great documentation'|trans }}</li>
                                    <li>{{ 'All populair pay services'|trans }}</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>{{ 'Extremely user friendly'|trans }}</li>
                                    <li>{{ '24/7 cutomer support'|trans }}</li>
                                    <li>{{ 'SEO optimized'|trans }}</li>
                                    <li>{{ 'All tld extentions'|trans }}</li>
                                    <li>{{ 'Not satisfied? Money back!'|trans }}</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="http://websites.simplesphere.net/sales/version1/img/inclined.png" class="img-responsive" alt="" title="" />
                    </div>
                </div>
                <div class="divider50"></div>
                <form id="banner-form" class="register-form" role="form" action="{{ path('mango_site_homepage') }}" {{ form_enctype(registerFormBanner) }} method="POST">
                    <div class="banner-optin">
                        <div class="row errors hidden">
                            <div class="form-group col-md-3 container-name">
                                {% if registerFormBanner.name.vars.errors|length %}
                                    {{ form_errors(registerFormBanner.name) }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3 container-email">
                                {% if registerFormBanner.users.0.email.vars.errors|length %}
                                    {{ form_errors(registerFormBanner.users.0.email) }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3 container-pass">
                                {% if registerFormBanner.users.0.plainPassword.vars.errors|length %}
                                    {{ form_errors(registerFormBanner.users.0.plainPassword) }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                            </div>
                        </div>
                        <div class="row text-center">
                            {{ form_errors(registerFormBanner) }}
                            <div class="form-group col-md-3">
                                {% set nameError = registerFormBanner.name.vars.errors|length %}
                                {{ form_widget(registerFormBanner.name, { attr: { placeholder: 'Webwinkel naam', id: 'banner-webshop', class: 'form-control' }}) }}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form_widget(registerFormBanner.users.0.email, { attr: { placeholder: 'Uw e-mail', id: 'banner-name', class: 'form-control' }}) }}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form_widget(registerFormBanner.users.0.plainPassword, { attr: { placeholder: 'Wachtwoord', id: 'banner-pass', class: 'form-control' }}) }}
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-default btn-submit">{{ 'Start my webshop'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(registerFormBanner._token) }}
                </form>
            </div>
        </div>
    </div>

    <section id="intro" class="section">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="main-point">
                        <i class="fa fa-cubes"></i>
                        <h4>Client Oriented</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="main-point">
                        <i class="fa fa-male"></i>
                        <h4>Easy way to capture lead email</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="main-point main-point-last">
                        <i class="fa fa-codepen"></i>
                        <h4>Easy Adaptable</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    {% image '@MangoSiteBundle/Resources/public/images/example.jpg'
                        output='images/example.jpg' %}
                        <img src="{{ asset_url }}" alt="Example"/>
                    {% endimage %}
                </div>
            </div>

            <hr/>-->

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="http://websites.simplesphere.net/sales/version1/img/imac-mockup.png" class="img-responsive" alt="" title="" />
                </div>
                <div class="col-lg-6 col-md-6">
                    <h2>{{ 'The all-in-one solution'|trans }}</h2>
                    <p>{{ 'Shop Blender offer you a complete online store also means that you need for promotion, maintenance, order management, accounting, etc. This eliminates the need to purchase any other (expensive) software next Shop Blender.'|trans }}</p>
                    <ul class="normal-list">
                        <li>{{ 'You can expand your shop on to your wishes at any time.'|trans }}</li>
                        <li>{{ 'Sell your products and services with all the details as you want to.'|trans }}</li>
                        <li>{{ 'Shop Blender is continually expanded with useful tools.'|trans }}</li>
                    </ul>
                    <p>{{ "Our product is built because we believe that the current 'rent a shop' systems are not user friendly and confusing. Shop with Blender we make this a difference. To ensure we are the solution we provide for its own online store and the first 30-day free trial and you can cancel your monthly shop."|trans }}</p>
                </div>
            </div>

            <div class="divider50"></div>

            <div class="row">
                <div class="col-lg-4 col-md-4 hidden-xs">
                    <div class="side-text text-center">
                        <i class="fa fa-phone fa-4x"></i>
                        <h4>{{ 'Call us at %phone-number%'|trans({'%phone-number%': '06 81 80 3022'}) }}</h4>
                        <p>{{ 'You can call us but also chat or email.'|trans }}</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="highlight">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>Uitgebreide producten beheer</li>
                                    <li>Overzichtelijk ordersysteem</li>
                                    <li>Voortreffelijke navigatie</li>
                                    <li>Attractive with a modern touch</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>Maandelijks opzegbaar</li>
                                    <li>Continu uitbreiding</li>
                                    <li>s</li>
                                    <li>Gebruiksvriendelijkheid is onze #1 prioriteit</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="portfolio" class="bg-grey section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>{{ 'Example webshops'|trans }}</h1>
                        <p>{{ "The design is fully customizable. You can also choose from existing templates. You don't need to now how to program."|trans|raw }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb1.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb2.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb3.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb4.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb5.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb6.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb7.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="hover-details">
                        <img class="img-responsive img-thumbnail" src="http://websites.simplesphere.net/sales/version1/img/thumbs/thumb8.jpg" alt="" title="" />
                        <div class="img-cover">
                            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a>
                            <h3>Item Description</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>{{ 'Why choose ShopBlender?'|trans|raw }}</h1>
                        <p>{{ 'Our possibilities offer you as a beginner or professional, the ultimate experience without boundaries.'|trans }}</p>
                    </div>
                </div>
            </div>
            <div class="divider35"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-sliders fa-5x"></i>
                                <h4>{{ 'SEO optimized'|trans }}</h4>
                                <p>{{ 'Search engines know exactly what you offer on your webshop.'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-smile-o fa-5x"></i>
                                <h4>{{ 'Extremely user friendly'|trans }}</h4>
                                <p>{{ 'Our number one priority is user friendly'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-sitemap fa-5x"></i>
                                <h4>{{ 'Multishop functionality'|trans }}</h4>
                                <p>{{ 'Manage multiple webshops with just one system.'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-tablet fa-5x"></i>
                                <h4>{{ 'Desktop, mobile & tablet'|trans }}</h4>
                                <p>{{ 'Your webshop works on desktop but als on tablets and mobile phones.'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-rss fa-5x"></i>
                                <h4>{{ 'Global infrastructure'|trans }}</h4>
                                <p>{{ 'Your webshop will always fast thanks to the Amazon Web Service.'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-lock fa-5x"></i>
                                <h4>{{ 'security'|trans }}</h4>
                                <p>{{ 'Besides secure connections your shop will also be backed up daily.'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row last-row">
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-code fa-5x"></i>
                                <h4>{{ 'API'|trans }}</h4>
                                <p>{{ 'You have the possibility to extend to your own wishes.'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-cloud fa-5x"></i>
                                <h4>{{ 'Always under control'|trans }}</h4>
                                <p>{{ 'You can manage your shop from anywhere with a browser.'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="features-list">
                                <i class="fa fa-users fa-5x"></i>
                                <h4>{{ 'Multiple accounts'|trans }}</h4>
                                <p>{{ 'Give your employees a personal account with limited rights.'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="more-features" class="section bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-4 feature">
                    <i class="fa fa-language"></i>
                    <h4>{{ 'Globaly'|trans }}</h4>
                    <div class="bubble">
                        <p>{{ 'Offer your products and services apart from the Netherlands also in other countries. Use multiple domains and translations.'|trans }}</p>
                        <ul class="green-arrow">
                            <li>{{ 'Worldwide extensibility'|trans }}</li>
                            <li>{{ 'Link multiple domain names'|trans }}</li>
                            <li>{{ 'Translate your pages and products'|trans }}</li>
                            <li>{{ 'Manageable payment profiders and currencies'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4 feature">
                    <i class="fa fa-briefcase"></i>
                    <h4>{{ 'User friendly'|trans }}</h4>
                    <div class="bubble">
                        <p>{{ 'Knowledge or experience is not required at shop blender to start their own shop. Everything is clearly explained and you are not committed to anything.'|trans }}</p>
                        <ul class="green-arrow">
                            <li>{{ 'Introduction & Learning Videos'|trans }}</li>
                            <li>{{ '24/7 customer support'|trans }}</li>
                            <li>{{ 'Free use of our templates'|trans }}</li>
                            <li>{{ 'Templates are customizable'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4 feature">
                    <i class="fa fa-search"></i>
                    <h4>{{ 'Findable'|trans }}</h4>
                    <div class="bubble">
                        <p>{{ 'Your shop is easily found in search engines. Products can be in your shop itself easily found using search filters.'|trans }}</p>
                        <ul class="green-arrow">
                            <li>{{ 'Managing Search Filters for products'|trans }}</li>
                            <li>{{ 'Built-in affiliate programs'|trans }}</li>
                            <li>{{ "'Feeds' for reference websites"|trans }}</li>
                            <li>{{ 'SEO optimized'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<section id="snippets" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>Quick <strong>Snippets</strong></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#first-tab" data-toggle="tab"><i class="fa fa-video-camera"></i> Introductory Video</a></li>
                    <li><a href="#second-tab" data-toggle="tab"><i class="fa fa-cube"></i> Random Text</a></li>
                    <li><a href="#third-tab" data-toggle="tab"><i class="fa fa-group"></i> The Team</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="first-tab">
                        <div class="row">
                            <div class="video-container">
                                <iframe src="http://player.vimeo.com/video/75188030"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="second-tab">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <img src="http://websites.simplesphere.net/sales/version1/img/side-img.png" class="img-responsive" alt="" title="" />
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h2>Introductory Text</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                                <ul class="normal-list">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                                    <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut,</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="third-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 members-holder">
                                <div class="members-detail">
                                    <img src="http://websites.simplesphere.net/sales/version1/img/thumb2.png" alt="" class="img-responsive" title="">
                                    <h4>John Smith</h4>
                                    <p>Founder &amp; Money Maker</p>
                                    <ul class="members-social">
                                        <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin fa-fw"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 members-holder">
                                <div class="members-detail">
                                    <img src="http://websites.simplesphere.net/sales/version1/img/thumb2.png" alt="" class="img-responsive" title="">
                                    <h4>Sarah Mchaul</h4>
                                    <p>Graphic Designer &amp; UI Expert</p>
                                    <ul class="members-social">
                                        <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin fa-fw"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 members-holder">
                                <div class="members-detail">
                                    <img src="http://websites.simplesphere.net/sales/version1/img/thumb2.png" alt="" class="img-responsive" title="">
                                    <h4>Sales</h4>
                                    <p>Lead Web Designer</p>
                                    <ul class="members-social">
                                        <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin fa-fw"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <section class="section bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>Probeer 30 dagen <strong>gratis</strong></h1>
                        <p>Nog niet overtuigd? ShopBlender geeft u de mogelijkheid om onze dienst 1 maand gratis uit te proberen. <br />Uw demo webwinkel zal bereik zijn als 'uw-webinkel.shopblender.nl'. U kunt dit naderhand nog wijzigen en echte domeinnamen gebruiken.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="middle-form" class="register-form" role="form" action="{{ path('mango_site_homepage') }}" {{ form_enctype(registerFormMiddle) }} method="POST">
                        <div class="middle-optin">
                            <div class="row errors hidden">
                                <div class="form-group col-md-3 container-name">
                                    {% if registerFormMiddle.name.vars.errors|length %}
                                        {{ form_errors(registerFormMiddle.name) }}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-3 container-email">
                                    {% if registerFormMiddle.users.0.email.vars.errors|length %}
                                        {{ form_errors(registerFormMiddle.users.0.email) }}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-3 container-pass">
                                    {% if registerFormMiddle.users.0.plainPassword.vars.errors|length %}
                                        {{ form_errors(registerFormMiddle.users.0.plainPassword) }}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-3">
                                </div>
                            </div>
                            <div class="row text-center">
                                {{ form_errors(registerFormMiddle) }}
                                <div class="form-group col-md-3">
                                    {% set nameError = registerFormMiddle.name.vars.errors|length %}
                                    {{ form_widget(registerFormMiddle.name, { attr: { placeholder: 'Webwinkel naam', id: 'middle-webshop', class: 'form-control' }}) }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ form_widget(registerFormMiddle.users.0.email, { attr: { placeholder: 'Uw e-mail', id: 'middle-name', class: 'form-control' }}) }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ form_widget(registerFormMiddle.users.0.plainPassword, { attr: { placeholder: 'Wachtwoord', id: 'middle-pass', class: 'form-control' }}) }}
                                </div>
                                <div class="form-group col-md-3">
                                    <button type="submit" class="btn btn-default btn-submit">{{ 'Start my webshop'|trans }}</button>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(registerFormMiddle._token) }}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="section testimonial-bg cover" style="height:auto;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1><strong>Recenties</strong></h1>
                        <p>Wat klanten zeggen over ShopBlender die u al voor gingen.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-12'>
                    <div class="carousel slide carousel-mod" data-ride="carousel" id="testimonial">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="testimonial-inner">
                                            <img src="http://websites.simplesphere.net/sales/version1/img/testi1.png" alt="" title="" /><!-- Testimonial Image  -->
                                            <p>Na 3 dagen werd ik gebeld door mijn bank om te vragen of ik wilde inversteren.</p><!-- Tesimonial  -->
                                            <small>Robin Jansen</small><!-- Testimonial Author  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Testimonial #1  -->
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="testimonial-inner">
                                            <img src="http://websites.simplesphere.net/sales/version1/img/testi2.png" alt="" title="" /><!-- Testimonial Image  -->
                                            <p>Als ik dit eerder had gevonden waren mijn kosten laag gebleven.</p><!-- Tesimonial  -->
                                            <small>Steffany Brem</small><!-- Testimonial Author  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="testimonial-inner">
                                            <img src="http://websites.simplesphere.net/sales/version1/img/testi3.png" alt="" title="" /><!-- Testimonial Image  -->
                                            <p>Als houtbewerker wil ik mijn producten online kunnen aanbieden zonder gedoe.</p><!-- Tesimonial  -->
                                            <small>Harry Jansen</small><!-- Testimonial Author  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Navigation  -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonial" data-slide-to="1"></li>
                            <li data-target="#testimonial" data-slide-to="2"></li>
                        </ol>
                        <!-- End Testimonial Navigation  -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="partners" class="section20 bg-dark hidden-xs">
        <div class="container">
            <div class="row">
                <ul class="partners-logo">
                    <li class="col-md-2 col-sm-2"><a href="#"><img src="http://websites.simplesphere.net/sales/version1/img/logo1.png" alt="" title="" /></a></li><!-- Logo Image -->
                    <li class="col-md-2 col-sm-2"><a href="#"><img src="http://websites.simplesphere.net/sales/version1/img/logo2.png" alt="" title="" /></a></li>
                    <li class="col-md-2 col-sm-2"><a href="#"><img src="http://websites.simplesphere.net/sales/version1/img/logo3.png" alt="" title="" /></a></li>
                    <li class="col-md-2 col-sm-2"><a href="#"><img src="http://websites.simplesphere.net/sales/version1/img/logo4.png" alt="" title="" /></a></li>
                    <li class="col-md-2 col-sm-2"><a href="#"><img src="http://websites.simplesphere.net/sales/version1/img/logo1.png" alt="" title="" /></a></li>
                    <li class="col-md-2 col-sm-2"><a href="#"><img src="http://websites.simplesphere.net/sales/version1/img/logo2.png" alt="" title="" /></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="faq" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>Veel gestelde vragen</h1>
                        <p>Meer vragen? Neem gerust contact op met onze klantenservice: 0800 1234.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <!-- Faq 1 -->
                    <div class="panel " >
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>Werkt het samen met mijn bestaande systemen?</a></h4><!-- Faq Title -->
                        </div>
                        <div class="panel-collapse collapse in" id="faq1">
                            <div class="panel-body"><!-- Faq Content -->
                                <p>Het systeem van ShopBlende kan standaard samenwerken met een aantal programma's. Indien uw gewenste programma uniek is kunt met behulp van onze API uw systeem koppelen met ons systeem. Wanneer u dit niet zelf kunt kunnen wij u refereren naar een aantal ontwikkelaars die dit tegen een redelijk tarief voor u realiseren. <br />ShopBlender geeft u ook de mogelijkheid om producten te importeren.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Faq 1 -->
                    <!-- Faq 2 -->
                    <div class="panel " >
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>Can I buy this template and sell it ?</a></h4><!-- Faq Title -->
                        </div>
                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body"><!-- Faq Content -->
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Faq 2 -->
                    <!-- Faq 3 -->
                    <div class="panel " >
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>24/7 support system available ?</a></h4><!-- Faq Title -->
                        </div>
                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body"><!-- Faq Content -->
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Faq 3 -->
                    <!-- Faq 4 -->
                    <div class="panel " >
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Why am I asking so many questions ?</a></h4><!-- Faq Title -->
                        </div>
                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body"><!-- Faq Content -->
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Faq 4 -->
                    <!-- Faq 5 -->
                    <div class="panel " >
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>Is it mobile-friendly ?</a></h4><!-- Faq Title -->
                        </div>
                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body"><!-- Faq Content -->
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Faq 5 -->
                </div>
                <div class="col-lg-5 col-md-5">
                    <img src="http://websites.simplesphere.net/sales/version1/img/mobile2.png" class="img-responsive" alt="" title="" />
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="bg-grey section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>Pakketten</h1>
                    </div>
                </div>
            </div>

            <div class="divider50"></div>

            <div class="row">
                <div class="col-sm-4 pricing-container">
                    <div class="price-column">
                        <h2>Normaal</h2>
                        <h3>&euro;25<sup>.00</sup> <span>/ maand</span></h3>
                        <ul>
                            <li>Onbeperkt aantal producten <i class="fa fa-check"></i></li>
                            <li>24/7 klantenservice <i class="fa fa-check"></i></li>
                            <li>Uitgebreid producten beheren<i class="fa fa-check"></i></li>
                            <li>Order systeem<i class="fa fa-check"></i></li>
                            <li>Zoekfilters beheren<i class="fa fa-check"></i></li>
                            <li>Webwinkel email<i class="fa fa-check"></i></li>
                            <li><del>Kortingscodes &amp; Cadeaubonnen</del> <i class="fa fa-times red-color"></i></li>
                            <li><del>Banner / Slider editor</del> <i class="fa fa-times red-color"></i></li>
                            <li><del>Lacus ut accumsan sed</del> <i class="fa fa-times red-color"></i></li>
                            <li><del>Chatten met klanten</del><i class="fa fa-check"></i></li>
                        </ul>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-default price-btn">Kies pakket</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pricing-container featured-price">
                    <div class="price-column large">
                        <h2>Groot</h2>
                        <h3>&euro;35<sup>.00</sup> <span>/ maand</span></h3>
                        <ul>
                            <li>Onbeperkt aantal producten <i class="fa fa-check"></i></li>
                            <li>24/7 klantenservice <i class="fa fa-check"></i></li>
                            <li>Uitgebreid producten beheren<i class="fa fa-check"></i></li>
                            <li>Order systeem<i class="fa fa-check"></i></li>
                            <li>Zoekfilters beheren<i class="fa fa-check"></i></li>
                            <li>Webwinkel email<i class="fa fa-check"></i></li>
                            <li>Boekhouding<i class="fa fa-check"></i></li>
                            <li>Kortingscodes &amp; Cadeaubonnen<i class="fa fa-check"></i></li>
                            <li>Banner / Slider editor <i class="fa fa-check"></i></li>
                            <li><del>Chatten met klanten</del><i class="fa fa-check"></i></li>
                        </ul>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-default price-btn">Kies pakket</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pricing-container">
                    <div class="price-column">
                        <h2>Uitgebreid</h2>
                        <h3>&euro;65<sup>.00</sup> <span>/ maand</span></h3>
                        <ul>
                            <li>Onbeperkt aantal producten <i class="fa fa-check"></i></li>
                            <li>24/7 klantenservice <i class="fa fa-check"></i></li>
                            <li>Uitgebreid producten beheren<i class="fa fa-check"></i></li>
                            <li>Order systeem<i class="fa fa-check"></i></li>
                            <li>Zoekfilters beheren<i class="fa fa-check"></i></li>
                            <li>Webwinkel email<i class="fa fa-check"></i></li>
                            <li>Boekhouding<i class="fa fa-check"></i></li>
                            <li>Kortingscodes &amp; Cadeaubonnen<i class="fa fa-check"></i></li>
                            <li>Banner / Slider editor<i class="fa fa-check"></i></li>
                            <li>Chatten met klanten<i class="fa fa-check"></i></li>
                        </ul>
                        <div class="price-bottom">
                            <a href="#" class="btn btn-default price-btn">Kies pakket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
{% endblock %}