<h1>Registreren</h1>

<form class="form-horizontal" role="form" action="{{ path('mango_site_homepage') }}" {{ form_enctype(registerForm) }} method="POST">
{{ form_widget(registerForm.name, { attr: { placeholder: 'Webwinkel' }}) }}
{{ form_widget(registerForm.users.0.email, { attr: { placeholder: 'Uw e-mail' }}) }}
{{ form_widget(registerForm.users.0.plainPassword, { attr: { placeholder: 'Wachtwoord' }}) }}
{{ form_widget(registerForm._token) }}
<input type="submit" value="Versturen" />
</form>