{% extends 'MangoSiteBundle::layout.html.twig' %}

{% block title %}{{ 'homepage title'|trans }}{% endblock %}

{% block bodyattribute %} data-spy="scroll" data-target=".navigation"{% endblock %}


{% block content %}
    <div id="banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 header-text">
                        <h1>{{ 'your webshop within 5 minutes'|trans|raw }}</h1>
                        <p>{{ 'Many existing store systems offer no flexibility as we do. To convince you, we offer you free trial 30 days.'|trans }}</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>{{ '30 on trail for free'|trans }}</li>
                                    <li>{{ 'Fully customizable'|trans }}</li>
                                    <li>{{ 'Multishop functionality'|trans }}</li>
                                    <li>{{ 'Great documentation'|trans }}</li>
                                    <li>{{ 'All populair pay services'|trans }}</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>{{ 'Extremely user friendly'|trans }}</li>
                                    <li>{{ '24/7 cutomer support'|trans }}</li>
                                    <li>{{ 'SEO optimized'|trans }}</li>
                                    <li>{{ 'All tld extentions'|trans }}</li>
                                    <li>{{ 'Not satisfied? Money back!'|trans }}</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="http://websites.simplesphere.net/sales/version1/img/inclined.png" class="img-responsive" alt="" title="" />
                    </div>
                </div>
                <div class="divider50"></div>
                <form id="banner-form" method="post" action="banner-form.php">
                    <div class="banner-optin">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <input name="banner-webshop" id="banner-webshop" type="text" class="form-control" required placeholder="Webshop naam">
                            </div>
                            <div class="form-group col-md-3">
                                <input name="banner-name" id="banner-name" type="text" class="form-control" required placeholder="Uw e-mail">
                            </div>
                            <div class="form-group col-md-3">
                                <input name="banner-pass" id="banner-pass" type="password" class="form-control" required placeholder="Wachtwoord">
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-default btn-submit">{{ 'Start my webshop'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-process"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <section id="intro" class="section">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="main-point">
                        <i class="fa fa-cubes"></i>
                        <h4>Client Oriented</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="main-point">
                        <i class="fa fa-male"></i>
                        <h4>Easy way to capture lead email</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="main-point main-point-last">
                        <i class="fa fa-codepen"></i>
                        <h4>Easy Adaptable</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    {% image '@MangoSiteBundle/Resources/public/images/example.jpg'
            output='/images/example.jpg' %}
                        <img src="{{ asset_url }}" alt="Example"/>
                    {% endimage %}
                </div>
            </div>

            <hr/>-->

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="http://websites.simplesphere.net/sales/version1/img/imac-mockup.png" class="img-responsive" alt="" title="" />
                </div>
                <div class="col-lg-6 col-md-6">
                    <h2>{{ 'The all-in-one solution'|trans }}</h2>
                    <p>{{ 'Shop Blender offer you a complete online store also means that you need for promotion, maintenance, order management, accounting, etc. This eliminates the need to purchase any other (expensive) software next Shop Blender.'|trans }}</p>
                    <ul class="normal-list">
                        <li>{{ 'You can expand your shop on to your wishes at any time.'|trans }}</li>
                        <li>{{ 'Sell your products and services with all the details as you want to.'|trans }}</li>
                        <li>{{ 'Shop Blender is continually expanded with useful tools.'|trans }}</li>
                    </ul>
                    <p>{{ "Our product is built because we believe that the current 'rent a shop' systems are not user friendly and confusing. Shop with Blender we make this a difference. To ensure we are the solution we provide for its own online store and the first 30-day free trial and you can cancel your monthly shop."|trans }}</p>
                </div>
            </div>

            <div class="divider50"></div>

            <div class="row">
                <div class="col-lg-4 col-md-4 hidden-xs">
                    <div class="side-text text-center">
                        <i class="fa fa-phone fa-4x"></i>
                        <h4>{{ 'Call us at %phone-number%'|trans({'%phone-number%': '06 81 80 3022'}) }}</h4>
                        <p>{{ 'You can call us but also chat or email.'|trans }}</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="highlight">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>Uitgebreide producten beheer</li>
                                    <li>Overzichtelijk ordersysteem</li>
                                    <li>Voortreffelijke navigatie</li>
                                    <li>Attractive with a modern touch</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="green-arrow">
                                    <li>Maandelijks opzegbaar</li>
                                    <li>Continu uitbreiding</li>
                                    <li>s</li>
                                    <li>Gebruiksvriendelijkheid is onze #1 prioriteit</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}