
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ 'language code'|trans }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ 'language code'|trans }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ 'language code'|trans }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="{{ 'language code'|trans }}"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'homepage title'|trans }}{% endblock %}</title>
    <meta name="description" content="{{ 'homepage description'|trans }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all' rel='stylesheet' type='text/css'>
    {% include 'MangoSiteBundle:Partials:stylesheets.html.twig' %}
</head>


<body{% block bodyattribute %}{% endblock %}>
    {% block header %}
        <header>
            {% include 'MangoSiteBundle:Partials:navbar.html.twig' %}
        </header>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'MangoSiteBundle:Partials:footer.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/mangosite/js/custom.js') }}"></script>
        {#<script src="{{ asset('js/custom.js') }}"></script>#}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-9216956-24', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
    {% endblock %}
</body>
</html>